@import "tailwindcss";

body {
  background-color: #1c1c6f;
}

#Navbar {
  background-color: rgb(38, 38, 38);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
