@import "tailwindcss";

body {
  background-color: black;
}

#Navbar {
  background-color: rgb(38, 38, 38);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
  /* Homepage */
  #TitleSorteador {
    font-size: 4.5rem;
  }

  #DescriptionSorteador {
    font-size: 1.8rem;
  }

  /* NomesPage */
  #TitleNomes {
    font-size: 3.2rem;
  }

  #DescriptionNome {
    font-size: 1.5rem;
  }

  /* NumerosPage */
  #TitleNumeros {
    font-size: 3.2rem;
  }

  #DescriptionNumeros {
    font-size: 1.5rem;
  }
}